@import "../../styles/variable.scss";

.userMainInfo {
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid $soft-bg;

    .item-country {
      font-size: 14px;
      font-weight: bold;
    }

    .item-color {
      width: 25px;
      height: 20px;
      border-radius: 10px;
    }
  }
}
