@import "../../styles/variable.scss";

.userProject {
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid $soft-bg;

    .item-project {
      font-size: 10px;
      text-align: center;
      height: 20px;
      width: 60%;
    }

    .item-status {
      font-weight: bold;
    }
  }
}
